[tool.poetry]
name = "palom"
version = "2022.02.1"
description = "Piecewise alignment for layers of mosaics"
authors = ["Yu-An Chen <atwood12@gmail.com>"]
readme = "README.md"
homepage = "https://pypi.org/project/palom/"
repository = "https://github.com/Yu-AnChen/palom"
keywords = [
    "microscopy",
    "multiplex imaging",
    "image registration",
    "digital pathology",
    "atlas"
]

[tool.poetry.dependencies]
# Pin python version to 3.7, python 3.8 needs workaround to import openslide DLL
# https://github.com/openslide/openslide-python/issues/98
python = ">=3.7.8,<3.8"
scikit-image = "^0.18.3"
scikit-learn = "^0.24.2"
opencv-python = "^4.5.3.56"
zarr = "^2.10.0"
tifffile = "^2021.10.12"
matplotlib = "^3.4.3"
tqdm = "^4.62.3"
napari-lazy-openslide = "^0.2.0"
scipy = "^1.7.1"
dask = "^2021.10.0"
numpy = "^1.21.3"
yamale = "^4.0.2"
loguru = "^0.5.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
palom-svs = "palom.cli.svs:main"
palom-svs-helper = "palom.cli.helper:main"