[tool.poetry]
name = "palom"
version = "2023.9.2"
description = "Piecewise alignment for layers of mosaics"
authors = ["Yu-An Chen <atwood12@gmail.com>"]
readme = "README.md"
homepage = "https://pypi.org/project/palom/"
repository = "https://github.com/Yu-AnChen/palom"
keywords = [
    "microscopy",
    "multiplex imaging",
    "image registration",
    "digital pathology",
    "atlas"
]

[tool.poetry.dependencies]
python = "^3.7.8"
scikit-image = ">=0.18, <0.20"
scikit-learn = ">=0.24"
opencv-python = "^4.5.3.56"
zarr = ">=2.10, <2.15" # bug when reading GT450 SVS @ 2.15+
tifffile = ">=2021.10.12"
imagecodecs = ">=2021.11.11"
matplotlib = "^3.4.3"
tqdm = "^4.62.3"
napari-lazy-openslide = ">=0.2.0"
scipy = "^1.7.1"
dask = ">=2021.10.0"
numpy = "^1.21.3"
yamale = "^4.0.2"
loguru = "^0.5.3"
ome-types = ">0.3"
pint = ">=0.21"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
palom-svs = "palom.cli.svs:main"
palom-svs-helper = "palom.cli.helper:main"